@model HelperMethods.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>CreatePerson</h2>

@using (Html.BeginRouteForm("FormRoute",new { }, FormMethod.Post,
    new { @class = "personClass", data_formtype="person"})) {
    <div class="dataElem">
        <label>PersonId</label>
     @Html.TextBoxFor(m => m.PersonID)
    </div>
    <div class="dataElem">
        <label>First Name</label>
       @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div class="dataElem">
        <label>Role</label>
        @Html
     </div>
    <input type="submit" value="Submit" />
}